.feed{
	padding:0;
}
.feed>li{
	display:flex;
	border-bottom:1px solid #bbb;
}
.feed>li>a{
	color:black;
	text-decoration:none;
	display:block;
	padding:.4rem;
	flex:1;
}
.feed>li:nth-child(odd)>a {
	background-color:#eee;
}
.feed>li>a:hover {
	background-color:#ddd;
}
.feed>li:nth-child(odd)>a:hover {
	background-color:#ddd;
}
.feed>li>a.icon{
	cursor:pointer;
	min-width:1.2rem;
	flex:0;
	background-size:24px 24px;
	background-repeat:no-repeat;
	background-position:center;
}
.feed>li>a.icon.activate{background-image:url('/images/icons/activate.svg');}
.feed>li>a.icon.calendar{background-image:url('/images/icons/calendar.svg');}
.feed>li>a.icon.deactivate{background-image:url('/images/icons/deactivate.svg');}
.feed>li>a.icon.delete{background-image:url('/images/icons/delete.svg');}
.feed>li>a.icon.download{background-image:url('/images/icons/download.svg');}
.feed>li>a.icon.flag{background-image:url('/images/icons/flag.svg');}
.feed>li>a.icon.link{background-image:url('/images/icons/link.svg');}
.feed>li>a.icon.image{background-image:url('/images/icons/image.svg');}
.feed>li>a.icon.settings{background-image:url('/images/icons/settings.svg');}
.feed>li>a.icon.share{background-image:url('/images/icons/share.svg');}
.feed>li>a.icon.tag{background-image:url('/images/icons/tag.svg');}